/*************************IMAGES******************************/
.profile-picture{
  border-radius:50%;
  margin:20px auto 0 auto;
}

  .top-cloud{
    position:absolute;
    right: 450px;
    top: 50px;
  }

  .bottom-cloud{
    position:absolute;
    left:540px;
  }

  .computer_image{
    width:25%;
    margin-right:30px;
    float:left;
  }

  .chili_image{
    width:25%;
    margin-left:10px;
    float:right;
  }

/**********************GENERAL SETTINGS*************************/

body{
  margin:0;
  text-align: center;
  font-family: Finlandica, cursive, sans-serif;
  font-size: 150%;
}

h1{
  font-family: Sacramento, sans lucida unicode, sans-serif;
  font-size:5.625rem;
  margin: 50px auto 0 auto;
  color:#66BFBF;
  line-height:2;
}

h2{
  font-family: Finlandica, sans lucida unicode, sans-serif;
  font-size:3.125rem;
  color:#66BFBF;
  font-weight: normal;
}

h3{
  font-family: Finlandica, sans lucida unicode, sans-serif;
  color:#11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 7px;
  height: 0px;
  width: 8%;
  margin:130px auto 130px auto;
}

a{
color: #EAF6F6;
margin: 0 30px 0 30px;
text-decoration: none;
}

a:hover{
  color: #DEB6AB;
}
/***********************WEBSITE LAYOUT **************************/

.top-container{
  background-color: #F8ECD1;
  padding:50px;
  position:relative;
}

.middle-container{
  width:50%;
  margin:150px auto 150px auto;
}

.profile{
  margin:100px;
}

.skill-row{
}

.skills{
  margin:150px;
    text-align: left;
}

.chili{
  margin:150px;
    text-align: left;
}

.bottom-container{
  background-color: #85586F;
  padding:50px;
  margin:0px;
  display:block;
}

.copyright{
  color:#DEB6AB;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Finlandica;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
